@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');


* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   overflow-y: scroll; 
}

body {
   color: $off-black;
   font-family: 'Raleway', Helvetica, sasns-serif;
   font-size: $m-size;
   line-height: 1.6;
 }

 h1, h2, h3, h4, .iban {
  letter-spacing: 1.5;
 }

button {
   cursor: pointer;
}

button:disabled {
   cursor: default;
}

.is-active {
   font-weight: bold;
}


.iban {
  font-family: 'IBM Plex Mono', monospace;
}


.italic {
  font-style: italic;
}